.cart-content {
  max-width: 1300px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
}

.cart-products {
  flex: 1;
  display: flex;
  padding: 8px;
}

.cart-sidebar {
  width: 400px;
  padding: 8px;
}

.cart-box {
  background: $white;
  width: 100%;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.cart-item-detail {
  flex: 1;
  padding: 0 0 0 30px
}

.cart-item-img,
.cart-item-price,
.cart-item-qty,
.cart-item-total {
  width: 100px;
  text-align: center;
}

.cart-item-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    width: 34px;
  }
}