$white: #fff;

$body-background-color: #f4f4f4;
$header-background-color: $white;
$text-color-primary: #2f343a;
$text-color-secondary: #959595;

$loading-placeholder-one: #e6e6e6;
$loading-placeholder-two: #cdcdcd;

$button-background-primary: #2f343a;
$button-color-primary: $white;

$button-background-secondary: #d7d7d7;
$button-color-secondary: $white;

$minicart-background-color: #f4f4f4;